*{
  margin:0;
  padding:0;
}
h1{
  margin:0;
  padding:10px;
  border-bottom:1px solid #bcbcbc;
  font-weight:normal;
}
#h5lock{
  background-color: #f0f0f2;
  width:100%;
  display:flex;
  justify-content: space-between;
  flex-flow: column nowrap;
}
.header{
  width:100%;
  text-align: center;
  background-color: #f8f8f8;
}
.wrapper{
  padding:10px;
  text-align: center;
}
#canvas{
  position:relative;
  left:0;
  right:0;
  top:0;
  bottom:0;
}
.hidde{
  /*visibility: hidden;*/
  display:block;
}
#radio,.input-lg{
  font-size:1.3em;
}
#reset{
  position:absolute;
  right:0;
  padding:2px 10px;
}
